# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv

# Node
node_modules/
.next/
dist/

# Environment variables
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/

# IDE
.vscode/settings.json
.claude/settings.local.json

.flake8